<!doctype html>
<!--
 Copyright 2020 Matthew Lai

 This file is part of Chipmunk.

 Chipmunk is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 Chipmunk is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with Chipmunk.  If not, see <https://www.gnu.org/licenses/>.
-->
<html>
	<title>{{title}}</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <body>
    <h1>{{title}}</h1>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="messages">{{ messages[0] }}</div><br />
      {% endif %}
    {% endwith %}
    <div class="content">
      <div class="section">
        <h2>Send a Message</h2>
        <form action="{{ url_for('notify') }}" method="post">
          <label for="name">Your Name:</label>
          <input type="text" name="name" maxlength="{{ max_name_length }}">
          <label for="email">Email (optional):</label>
          <input type="email" name="email" maxlength="{{ max_email_length }}" optional>
          <label for="unit">Send note to:</label>
          <select id="unit" name="unit">
            <option value="none"></option>
            {% for unit in registered_units %}
              <option value="{{ unit }}">{{ unit }}</option>
            {% endfor %}
          </select><br />
          <label for="note">Note:</label>
          <textarea name="note" maxlength="{{ max_note_length }}"></textarea><br />
          <input type="submit" value="Send"><br />
        </form>
      </div>
      <div class="section">
        <h2>Register for Notifications</h2>
        <form action="{{ url_for('signup') }}" method="post">
          <label for="name">Name:</label>
          <input type="text" name="name" maxlength="{{ max_name_length }}">
          <label for="email">Email:</label>
          <input type="email" name="email" maxlength="{{ max_email_length }}">
          <label for="unit">Select your flat:</label>
          <select id="unit" name="unit">
            <option value="none"></option>
            {% for unit in units %}
              <option value="{{ unit }}">{{ unit }}</option>
            {% endfor %}
          </select><br />
          <input type="submit" value="Register"><br />
        </form>
	<p class="notice">Please add {{ sender_email }} to your spam whitelist to avoid emails from the system getting classified as spam.</p>
        <p class="notice">Note that your name and redacted email address will be shared with anyone else who
        signs up for the same unit, in the past or in the future.</p>
      </div>
      <div class="section">
        <h2>Sitemap</h2>
        <img class="sitemap" src="{{ url_for('static', filename='sitemap.jpg') }}" />
      </div>
      <p>Questions? Comments? Suggestions? Contact <a href="mailto:{{ contact_email }}">{{ contact_email }}</a></p>
    </div>
  </body>
</html>
