<!doctype html>
<!--
 Copyright 2020 Matthew Lai

 This file is part of Chipmunk.

 Chipmunk is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 Chipmunk is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with Chipmunk.  If not, see <https://www.gnu.org/licenses/>.
-->
<html>
	<title>{{title}}</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <body>
    <h1>{{title}}</h1>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="messages"><p>{{ messages[0] }}</p></div>
      {% endif %}
    {% endwith %}
    <h2>Send a Message</h2>
    <form action="{{ url_for('notify') }}" method="post">
      Your Name:<br />
      <input type="text" name="name" maxlength="{{ max_name_length }}"><br />
      Email (optional, if you want the recipient to be able to reply):<br />
      <input type="email" name="email" maxlength="{{ max_email_length }}" optional><br />
      <label for="unit">Which flat do you want to send the note to (if the flat number isn't here, they have not registered for notifications):</label><br />
      <select id="unit" name="unit">
        <option value="none"></option>
        {% for unit in registered_units %}
          <option value="{{ unit }}">{{ unit }}</option>
        {% endfor %}
      </select><br />
      Note:<br />
      <textarea rows="5" cols="60" name="note" maxlength="{{ max_note_length }}"></textarea><br />
      <input type="submit"><br />
    </form>
    <hr />
    <h2>Register for Notifications</h2>
    <form action="{{ url_for('signup') }}" method="post">
      Name:<br />
      <input type="text" name="name" maxlength="{{ max_name_length }}"><br />
      Email:<br />
      <input type="email" name="email" maxlength="{{ max_email_length }}"><br />
      <label for="unit">Select your flat:</label><br />
      <select id="unit" name="unit">
        <option value="none"></option>
        {% for unit in units %}
          <option value="{{ unit }}">{{ unit }}</option>
        {% endfor %}
      </select><br />
      <input type="submit"><br />
    </form>
    <p>Note that your name and redacted email address will be shared with anyone else who
    signs up for the same unit, in the past or in the future.</p>
    <hr />
    <p>Questions? Comments? Suggestions? Contact <a href="mailto:{{ contact_email }}">{{ contact_email }}</a></p>
  </body>
</html>